
<main class="container">
  <p style="color: green"><%= notice %></p>
  <div class="header">
    <%= link_to "Back to posts", posts_path, class: "btn btn--primary" %>
  </div>

  <%= render @post %>
</main>